# Social Commerce SaaS - Template de Variáveis de Ambiente (.env)
SECRET_KEY=django-insecure-change-this-in-production-q81ldty(&f*(4cmr@os-eqelz&zod0fm15tz4ms=y9%ehb$csb
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,192.168.1.3
