# Ambientes Virtuais
venv/
env/
.venv/

# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
db.sqlite3

# Arquivos de Ambiente (Segredos e Senhas)
.env
.env.local

# pytest / Logs
.pytest_cache/
pytest_report.txt
error_log.txt

# Arquivos de Mídia (Imagens do usuário)
/media/

# IDE / Editores
.vscode/
.idea/
*.swp
*.swo
